* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-color: #2b2b2b;
    --light-color: #ececec;
    --accent-color: #00c896;
    --darker-accent-color: #00b286;
}

@font-face {
    font-family: nexa;
    src: url(/fonts/nexa/Nexa-Heavy.ttf);
}

body {
    font-family: nexa, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 75px 100px 1fr / 250px 1fr;
}

img {
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1;

    
}