.post {
    min-height: 100px;
    /* box-shadow: 4px 3px 5px 3px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 10px -7px black;
    z-index: 1;

    display: flex;
    justify-content: space-between;
}

.post img {
    height: 75px;
}

.post-left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 2rem;
}

.post-left .name {
    font-size: 1.5rem;
}

.post-buttons {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 20px;
}

.post button {
    font-size: 1rem;
    font-weight: 600;

    border: none;
    border-radius: 50px;
    padding: 0.7rem 1.5rem;
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);

    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

button:hover {
    background-color: var(--darker-accent-color);
    transform: translateY(-2px);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(-1px);
}