.search {
    display: flex;
    justify-content: space-between;
}

.search-right {
    display: flex;
    justify-content: right;
    margin: 0 2rem;
    flex: 1 1 0;
    gap: 2rem;
    align-items: center;
}

form {
    flex: 2 1 0;
    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 2rem;

    gap: 20px;
}

form input {
    width: 100%;
    max-width: 500px;
    height: 2rem;
    padding: 0 1rem;

    font-size: 1rem;

    background: var(--light-color);
    border: solid 1px grey;
    border-radius: 50px;
}

input:focus,
input:focus-visible {
    border: 1px solid black;
    outline: none;
    background-color: #e5e5e5;
}

.search button {
    height: 1.5rem;
    aspect-ratio: 1;
    border: none;
    background-color: white;
}


